<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="d9f5fbd1-5f78-47a7-92c6-a37d9e7c61ce" Publisher="CN=Griffin" Version="1.0.0.0" />
  <Properties>
    <DisplayName>GPA_Calculator</DisplayName>
    <PublisherDisplayName>Griffin</PublisherDisplayName>
    <Logo>Assets\STORELOGO.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="GPA_Calculator.App">
      <VisualElements DisplayName="GPA_Calculator" Logo="Assets\GPAcalc150x150.png" SmallLogo="Assets\SMALL.png" Description="GPA_Calculator" ForegroundText="light" BackgroundColor="#228B22">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\GPAcalcWIDE.png" />
        <SplashScreen Image="Assets\GPAcalcSPLASHSCREEN.png" />
      </VisualElements>
    </Application>
  </Applications>
</Package>